
@{
    ViewData["Title"] = "AboutUs";
}
<h1>@ViewData["Title"]</h1>

<p>
    We are MultiSoftware Enterprise, a multinational software development company headquartered in Athens, Greece, with approximately 350 employees distributed across multiple regions.
</p>
